
<!-- Github fork ribbion --> 
<a href="https://github.com/010josh010"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

<div class="logo">
	<img src="assets/img/crunchyscraper-scraped.png" alt="logo">  crunchyscraper 

</div> 

<!-- Welcome banner with app info --> 
<div class="welcome">
	<img src="https://40.media.tumblr.com/56ad8e96045f607011de57c29db4a70a/tumblr_mxl2nyOKII1rizambo1_500.png"> 

	<p> Welcome to CrunchyScraper , a Node.js application that scrapes and pulls down all the latest Crunchyroll news. All Content is owned by <a href="https://www.crunchyroll.com">Crunchyroll.</a> Just scroll down to begin using the app!</p> 


 </div> 

 <div class="clear-fix"></div> 
<div class="blurb-wrapper"> </div> 

